
/* set about me size as all screen and add a padding top 
    because of the header menu displayed on top*/
#about_me{
    padding-top: 130px;
    height:100vh;
}

#about_me h1 {
    margin-bottom: 30px;
}

/*about me buttons design*/
.tablinks {
    margin-bottom: 10px;
    cursor: pointer;
    padding: 10px;
    border: 2px solid white;
    background-color: #212121;
    color: #00ffff;
    font-family: 'JelleeBold';
    font-size: 1em;
    transition: 0.4s;
}

/*about me content margin*/
.content {
    padding: 5px 18px;
    display:none;
}

    /*about me content span design*/
.content span {
     color: #00ffff;
     font-style:italic;
}

/* button tablinks hover and focus design*/
.tablinks:hover, .tablinks:focus{
    background-color: #00ffff;
    color: black;
}

/* dowload CV button design*/
#download_cv, #button_mobile {
    position: relative;
    margin: 20px auto;
    width: 140px;
    height: 40px;
    border-color: aqua;
    background-color: black;
    color: white;
    cursor: pointer;
}

#about_me .fa-download {
      color: white;
    }

.fa-download:hover, .fa-download:focus {
      color: black;
}

#about_me a {
    text-decoration: none;
    color:white;
}

/*view my cv button style, position in the middle of the image*/
#view_my_cv {
    position:relative;
    margin:auto;
    width: 100px;
    height: 30px;
    border-color: aqua;
    background-color: black;
    color:white;
    cursor:pointer;
}

/* downloand and view my cv button hover style*/
    #view_my_cv:hover, #download_cv:hover {
        background-color: aqua;
        color:black;
    }
#about_me a:hover, #about_me i:hover{
      color:black;
}


/* about me design for small screen sizes from 0 to 768px*/
 @media all and (min-width:0px) and (max-width: 768px) {
        /*hide photo in small screen sizes*/
        #about_me_photo {
        display: none;
    }

    /* position content in the center of the screen ocupying 90% of width*/
    #about_me_description {
        margin: 30px auto;
        width: 90%;
    }

    .tablinks{
        width:90%;
    }

}
   @media all and (min-width:481px) and (max-width: 768px) {
    #about_me_description {
        width: 80%;
    }
   }

/* css about me design for desktops */
 @media all and (min-width:769px) {
        #button_mobile {
            display: none;
        }

    /*display content as flex row diveded in 35% and 50%*/
    #about_me_content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    /*display content of about_me_photo as column */
    #about_me_photo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto 0;
        width: 35%;
    }

        #about_me_photo img {
            width: 100%;
            border: 5px solid aqua;
        }

    /*display the tablinks also as a column */
    #about_me_description {
        padding-top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items:center;
        width: 50%;
    }

        #about_me_description .tablinks{
            width:80%;
        }

        #about_me_description .content {
            width: 80%;
        }

        /*positioning view my cv when user hover*/
        #view_my_cv {
            bottom: 150px;
        }

}

/* css about me design for desktop larg screen sizes more than 1200px */
@media all and (min-width:1201px) {

    #about_me_photo {
        width: 30%;
    }
    
    /*positioning view my cv when user hover*/
    #view_my_cv {
        bottom: 200px;
    }

    #about_me_description .tablinks {
        width: 70%;
    }

    #about_me_description .content {
        width: 70%;
    }
}
