
#contact_me{
    position:relative;
    padding-top:130px;
    height:100vh;
}

#contact_me h4 {
    margin:10px auto;
    color: #00ffff;
    font-style: italic;
}

label {
    color: white;
    font-style: italic;
}

#contact_me i {
    color: #00ffff;
    width: 20px;
    height: 20px;
}

/* css style for input text and text area*/
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #00ffff;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 6px;
    resize: vertical
}

/*css style for sumbit button of the form*/
input[type=submit] {
    background-color: #00ffff;
    color: black;
    font-family: 'JelleeBold';
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#last_button{
    display:flex;
    justify-content:flex-end;
}

#back_on_top {
    width: 140px;
    height: 40px;
    border-color: aqua;
    background-color: black;
    color: white;
    cursor: pointer;
    animation: pulse-black 2s infinite;
}

/* arrow animation pulse back*/
@keyframes pulse-black {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}


/* css design for small screen sizes from 0 to 768px*/
@media all and (min-width:0px) and (max-width: 768px) {
    #contact_me h4{
        width:90%;
        }

    /* display the contents in column for small screen sizes*/
    #contact_me_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #contact_me_form, #contact_information, #last_button {
        width: 90%;
        margin: auto;
    }

    /*divide the 2 divs with a border */
    #contact_information{
        padding-bottom:10px;
        border-bottom:2px solid aqua;
    }

    /* let a padding between the form and the contact info*/
    #contact_me_form{
        padding-top:30px;
    }

    #contact_me textarea {
        height: 8em;
    }

    #back_on_top{
        margin-top:75px;
    }
}

/* for screen sizes 569-768px the images occupy 70% of screen sizes*/
@media all and (min-width:481px) and (max-width: 768px) {

    #contact_me, #last_button {
        width: 80%;
        margin: auto;
    }

    #last_button {
        width: 90%;
        margin: auto;
    }

    #back_on_top {
        margin-top: 60px;
    }
}

/*the style for screen sizes from 769 px*/
@media all and (min-width:769px) {

    h4 {
        width: 85%;
        margin: auto;
    }

    /*display the 2 divs as 2 rows */
    #contact_me_content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #contact_information {
        width: 35%;
        margin-top: 10px;
    }

    #contact_me_form {
        width: 45%;
    }

    #contact_me textarea {
        height: 10em;
    }

    #last_button {
        width: 90%;
        margin: auto;
    }

    #back_on_top {
        margin-top: 70px;
    }
}
/* css about me design for desktop large screen sizes more than 1200px */
@media all and (min-width:1201px) {

    #contact_information {
        width: 30%;
    }

    #last_button {
        width: 85%;
        margin: auto;
    }

    #back_on_top {
        margin-top: 150px;
    }
}