
/* my_project display as a flex direction with
    the My_project box set in the 
    middle of the screen with 20px row gap*/
#my_projects_content {
    position:relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 20px;
}

#my_projects #arrow{
    margin-bottom:20px;
}
/* every my_project_box display as flex with 90% of screen size*/
.my_project_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    border: thin #00ffff solid;
}

/* the image has 90% of the box*/
.my_project_box img {
    border: thin #00ffff solid;
    margin: 10px auto;
    width: 90%;
    height: 92%;
}
    
/* the span is in the center of the box*/
.my_project_box span {
        margin: auto;
        font-style: italic;
        padding-bottom: 10px;
}



@media all and (min-width:0px) and (max-width: 320px) {
    /* the span font size for small screen sizes from 0 to 320px*/
    .my_project_box span {
        font-size:10px;
        margin-top:5px;
    }
}

@media all and (min-width:321px) and (max-width: 480px) {
    
}

/* for screen sizes 481-568px the images occupy 80% of screen sizes*/
@media all and (min-width:481px) and (max-width: 568px) {
    .my_project_box {
        width: 80%;
    }
}

/* for screen sizes 569-768px the images occupy 70% of screen sizes*/
@media all and (min-width:569px) and (max-width: 768px) {
    .my_project_box {
        width: 70%;
    }
}

/* for screen sizes 769-959px we display 2 images in a row*/
@media all and (min-width:769px) and (max-width:959px) {

    .my_project_box {
        width: 45%;
    }
}

/* for screen sizes form 960px we display 3 images in a row*/
@media all and (min-width:960px) {

    #my_projects_content{
        margin-bottom:0px;
    }

    .my_project_box {
        width: 27%;
    }
}
