
body {
    font-family: "Francois One", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #262626;
    color: white;
    text-align: center;
}

main{
    position:absolute;
    overflow:hidden;
    padding-top:70px;
    padding-bottom:70px;
    width:97%;
}

#presentation{
    height:100vh;
}

h1, h2, p {
    width: 90%;
    margin: auto;
}

 h2 {
   color: #00ffff;
    }

 p {
    font-style: italic;
}

#description h1, h2, p {
    margin-top: 30px;
}

.arrow {
    display: inline-block;
    margin: 0px auto;
    animation: pulse-black 2s infinite;
}

/* arrow animation pulse back*/
@keyframes pulse-black {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

/* css design for small screen sizes from 0 to 768px*/
@media all and (min-width:0px) and (max-width: 768px) {

    /* hide the image for small screen sizes*/
    #presentation_img {
        display: none;
    }

    /* position content in the center of the screen ocupying 90% of width*/
    #presentation_content {
        margin: auto;
        width: 90%;
    }
        

    /*arrow design for small screen sizes*/
    .arrow{
        width:30px;
        height:30px;
        margin: 0 auto;
    }
}
     /* css the different presentation design for mobile screen sizes from 0 to 320px*/
   @media all and (min-width:0px) and (max-width: 320px) {

    #presentation {
        margin-top: 10px;
    }

    /*will only change the font of the text displayed*/
    /*h1 text in all the document*/

    h1 {
        font-size: 1.2em;
    }

    h2 {
        font-size: 1.1em;
    }

    #description p {
        line-height: 30px;
        letter-spacing: 3px;
    }

    p {
        font-size: 1em;
    }

    #arrow1{
        margin-top:20px;
    }


   }

    /* css the different presentation design for mobile screen sizes from 321 to 480px*/
   @media all and (min-width:321px) and (max-width: 480px) {
    #presentation {
        margin-top: 20px;
    }

    /*will only change the font of the text displayed*/
    h1 {
        font-size: 1.4em;
    }

    h2 {
        font-size: 1.3em;
    }

    #description p {
        line-height: 30px;
        letter-spacing: 4px;
    }

    p {
        font-size: 1.1em;
    }

    #arrow1 {
        margin-top: 20px;
    }

   }

/* css the different presentation design for small screen sizes from 481-568px &
          for tablets 569-768px */
   @media all and (min-width:481px) and (max-width: 768px) {
    #presentation {
        width:80%;
        margin-top: 40px;
        margin:auto;
    }

    /*will only change the font of the text displayed*/
    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.4em;
    }

    #description p {
        line-height: 40px;
        letter-spacing: 4px;
    }

    p {
        font-size: 1.2em;
    }

    .arrow {
        margin-top: 40px;
    }
    
   }

/* css presentation design for desktops */
@media all and (min-width:769px) {

    #presentation {
        margin-top: 60px;
    }

    #presentation_content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content:center;
    }

    #description {
        width: 50%;
    }

    #presentation_img {
        margin: auto 0px;
        border: 5px solid white;
        width:35%;
    }

    h1 {
        font-size: 1.3em;
    }

    h2 {
        font-size: 1.2em;
    }

    p {
        font-size: 1em;
    }

    #description p {
        line-height: 30px;
        letter-spacing: 2px;
    }

    /*all arrows width*/
    .arrow {
        width: 40px;
        height: 40px;
    }

    /*arrow1 and arrow3 padding*/
    #arrow1, #arrow3 {
        margin-top:40px;
        margin-bottom:40px;
    }
}

    @media all and (min-width:1201px) {

        h1 {
            font-size: 1.5em;
        }

        h2 {
            font-size: 1.4em;
        }

        p {
            font-size: 1.2em;
        }

        #description p {
            letter-spacing: 4px;
            line-height: 40px;
        }

      #presentation_img {
        margin: auto 0px;
        width: 30%;
        height: 30%;
      }

        .arrow {
            width: 50px;
            height: 50px;
        }
    }

