
/* body elements of every my project page*/
body {
    font-family: 'JelleeBold';
    font-weight: normal;
    font-style: normal;
    background-color: #262626;
    color: white;
    text-align:center;
}

/* header position fixed*/
header {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #212121;
}

header img {
    position: absolute;
 }

/* header a position and color*/
header a {
 position:absolute;
 color: inherit;
 text-decoration: inherit;
 }

/* header a when the user hover*/
 header a:hover {
   color: #00ffff;
  }

 /* main position and width over the header fixed*/
main {
    position: absolute;
    margin-top: 70px;
    width: 97%;
    height: 100%;
}

/* the content will have 90% of the width positioned in the center*/
#blog_description {
    width: 90%;
    margin: 0px auto;
}

/* the text will be of justify porperty*/
.blog_description_parts p {
    text-align: justify;
}

#blog_description h2, .blog_description_parts em {
    color: #00ffff;
}

/* add a padding at the end of the page*/
.blog_links {
    padding-bottom: 50px;
}

    .blog_links a {
        color: #00ffff;
        font-size: 15px;
        text-decoration: underline;
        font-style: italic;
    }


@media all and (min-width:0px) and (max-width: 768px) {
    /* header height 70px for mobile*/
    header {
        height: 70px; /*header height 70px for mobile*/
    }

   /*the header image will be position in the left of the header with 50px width and height*/
    header img  {
     top: 10px;
     left: 10px;
     width: 50px;
     height: 50px;
    }

   /* header a top and right and font size for mobile screen sizes*/ 
    header a {
     font-size: 15px;
     top: 25px;
     right: 25px;
     }

    #blog_description h2 {
        font-size:22px;
    }
    
    /*hide image on mobile screen sizes*/
    .myImg, .image_mobile {
        display: none;
    }

    hr {
        background-color: #00ffff;
        height:2px;
    }

}

@media all and (min-width:569px) and (max-width: 769px) {

    #blog_description {
        width: 80%;
    }

    /* show only the image for tablet screen sizes*/
    .image_mobile {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2%;
    }

        .image_mobile img {
            width: 35%;
        }

}

    @media all and (min-width:769px) {
        /* header height 100px for desktop*/
        header {
            height: 100px;
        }

            /*the header image will be position in the left of the header with 50px width and height*/
            header img {
                top: 15px;
                left: 20px;
                width: 70px;
                height: 70px;
            }

            /* header a top and right and font size for desktop screen sizes*/
            header a {
                font-size: 20px;
                top: 40px;
                right: 50px;
            }
    }

