body{
    text-align: center;
}

#container{
    margin: auto;
    border: 2px solid black;
    width:500px;
    height:500px;
    display: flex;
    flex-direction: column;
}

#set_number_of_squares{
    margin-top:30px;
    margin-bottom: 30px;
    border: 2px solid blue;
    padding:10px;
    background-color: aquamarine;
}